.fi-button {
  display: block;
  margin: auto;
  height: 5rem;
  width: 80%;

  font-family: 'Roboto';
  font-size: 1.4rem;
  text-align: center;

  background: #5A5A5A;
  color: white;
}

.fi-button-content {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}
